.landing-page {
  color: #000;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  margin-top: 60px;
}
.landing-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.landing-left {
  max-width: 50vw;
  gap: 3rem;
}

.landing-right {
  max-width: 50vw;
}
.landing-title-slogan {
  opacity: 1;
  transform: none;
}

.hero-title {
  position: relative;
  z-index: 1;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 4rem;
}
.stats {
  width: 100%;
  justify-content: space-between;
}
.stat > :nth-child(1) {
  font-size: 2rem;
}
.secondaryText {
  color: #8c8b8b;
  font-size: 0.9rem;
}
.stat > :nth-child(1) > :last-child {
  color: #ff0158;
}
.title-blob {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  border-radius: 999px;
  position: absolute;
  right: -3%;
  top: -3%;
  z-index: -1;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}
.image-container {
  width: 32rem;
  height: 32rem;
  /* overflow: hidden; */
  /* justify-content: center; */
  /* object-fit: contain; */
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}
.img-landing {
  width: 32rem;
  height: 32rem;
}
.flexCenter {
  display: flex;
  row-gap: 2rem;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}
.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .hero-title {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .hero-title > h1 {
    padding-bottom: 2rem;
  }
  .secondaryText {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .title-blob {
    font-size: 1.2rem;
    right: 2%;
    top: 8%;
  }
  .response-title {
    display: none;
  }
  /* .landing-right {
    display: none;
  } */
  .landing-left {
    width: 100vw;
  }
}
